@model ContactViewModel

@{
    ViewData["Title"] = "Contact";
}

<section class="py-5">
    <div class="container">

        <h1 class="fw-bold mb-4">Contact Me</h1>

        <div class="card shadow-sm">
            <div class="card-body">

                <p>
                    <strong>Email:</strong>
                    your-email@example.com
                </p>

                <p>
                    <strong>Mobile:</strong>
                    09XX XXX XXXX
                </p>

                <p>
                    <strong>GitHub:</strong>
                    github.com/mjudielmeguiel
                </p>

                <p>
                    <strong>LinkedIn:</strong>
                    Your LinkedIn Profile
                </p>

                <a href="#" class="btn btn-primary">
                    Download Resume
                </a>

            </div>
        </div>

    </div>
</section>
